useDynLib(iRF)
importFrom(Rcpp, evalCpp)
importFrom(Matrix, Matrix, t, sparseMatrix, rowSums, colSums)
importFrom(methods, is)
importFrom(AUC, auc, roc)
importFrom(data.table, data.table, rbindlist)
importFrom(dplyr, select, arrange, desc, "%>%", group_by, 
           summarize, mutate, right_join)
importFrom(stringr, str_replace_all, str_remove_all, str_split)
importFrom(grDevices, rainbow)
importFrom(graphics, axis, barplot, dotchart, lines,
           matplot, mtext, pairs, par, plot, plot.default,
           points)
importFrom(stats, delete.response, mad, median, model.frame,
           model.response, na.fail, na.omit, napredict,
           predict, quantile, reformulate, terms, update,
           var, weighted.mean)
importFrom(doMC, registerDoMC)
importFrom(doRNG, "%dorng%")
importFrom(foreach)
importFrom(parallel, detectCores)

export(combine, getTree, grow, importance, margin, MDSplot, na.roughfix,
       randomForest, rfImpute, treesize, tuneRF, varImpPlot, 
       varUsed, rfNews, outlier, classCenter, rfcv, readForest, iRF, 
       RIT, subsetReadForest, gRIT)


S3method(print, randomForest)
S3method(predict, randomForest)
S3method(plot, randomForest)
S3method(plot, margin)
S3method(margin, randomForest)
S3method(grow, randomForest)
S3method(importance, randomForest)
S3method(outlier, randomForest)
S3method(outlier, default)

S3method(randomForest, formula)
S3method(randomForest, default)
S3method(rfImpute, formula)
S3method(rfImpute, default)

S3method(na.roughfix, data.frame)
S3method(na.roughfix, default)
